<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vnpt.vnptline">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.LineApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppIntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.OTPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.TimNhaNghiActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.UuDaiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BinhLuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.ChiaSeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.SupportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.DatDoAnActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.LichSuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.DanhSachPhongDatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
        <activity
            android:name=".ui.activity.SubmitRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />

        <!-- Defining Services -->
        <service android:name=".app.service.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".app.service.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".app.service.NotificationReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.DetailHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- end -->
        <activity android:name=".ui.activity.QRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomActionBar" />
    </application>

</manifest>